<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Lunchbox</title>
  <link rel="shortcut icon" href="images/favicon.png">

  <!--necessary for mobile-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  
  <link rel="stylesheet" href="./lib/angular-material/angular-material.css">
  <link rel="stylesheet" href="./lib/fmp-card-directive/css/fmpCardDirective.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./styles/styles.css">

  <!-- Scripts for Angular -->
  <script src="./lib/angular/angular.js"></script>
  <script src="./lib/angular-route/angular-route.js"></script>
  <script src="./lib/angular-animate/angular-animate.js"></script>
    
  <!-- Scripts for Angular Material Design -->
  <script src="./lib/angular-aria/angular-aria.js"></script>
  <script src="./lib/angular-messages/angular-messages.js"></script>
  <script src="./lib/angular-material/angular-material.js"></script>  
  <script src="./lib/fmp-card-directive/fmpCardDirective.js"></script>  

  <!-- Allows for toggle effects on cards -->
  <script src="./styles/touch.js"></script> 
  <script src="./styles/modernizr.js"></script> 

    <!-- Needed to work base functionality -->
  <script src="./app.js"></script>
  <script src="./browse/browse.js"></script>
  <script src="./browse/viewReq.js"></script>
  <script src="./create/create.js"></script>
  <script src="./factories/factories.js"></script>
  <script src="./dashboard/dashboard.js"></script>
  <script src="./feedback/feedback.js"></script>
  <script src="./orders/orders.js"></script>
  <script src="./review/review.js"></script>

  <script src="./auth/auth.js"></script>
    
    <!-- Allow for file upload -->
  <script src="lib/ng-file-upload/ng-file-upload.js"></script>
  <script src="lib/angular-base64/angular-base64.js"></script>
    
</head>
<body>
  <div ng-app="oneApp" flex>
    <header ng-controller="AuthController">
      <md-toolbar class='navbar md-whiteframe-2dp' ng-show="location.$$path != '/signin' && location.$$path != '/register' " layout-align="center center">
        <div class="md-toolbar-tools" flex="80" layout-align="center center">
          <a class='logo' href="#/browse">LUNCHBOX</a>
          <span flex></span>
          <md-menu-bar role="menubar" layout-align="center center" layout="row">
            <md-button ng-href="#/create" class="" aria-label="Learn More"> <md-icon >add_circle</md-icon> Add Meal</md-button>

            <md-menu md-position-mode="target-right bottom">
              <md-button ng-click="$mdOpenMenu($event)" class="dropdown-icon-btn" aria-label="Open sample menu">
                <md-icon >account_circle</md-icon> User
              </md-button>
              <md-menu-content width="2">
                <md-menu-item><md-button ng-href="#/dashboard"> <md-icon >settings_input_svideo</md-icon> Dashboard</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="signout()"> <md-icon >exit_to_app</md-icon> Logout</md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </div>
      </md-toolbar>
    </header>
    <!--<main class='md-padding' layout="row" flex>-->
      <!--<div flex>-->
        <main ng-view flex layout="column"></main>
      <!--</div>-->
    <!--</main>-->
    <footer>
      <md-toolbar layout-align="center center">
        <div class="md-toolbar-tools" flex="80" layout-align="start center">
        <md-button ng-href="" class="" aria-label="Learn More">
        About
        </md-button>
        <md-button ng-href="" class="" aria-label="Learn More">
        Support
        </md-button>
        </div>
      </md-toolbar>
    </footer>
  </div>
</body>
</html>



