@import url(https://fonts.googleapis.com/css?family=Oswald);

html, body {
	height: 100%;
}

main {
  min-height: calc(100vh - 50px);
}

footer md-toolbar {
  max-height: 50px;
  /*background-color: #ccc;*/
}

md-toolbar, md-toolbar-tools {
  min-height: 50px;
}

md-card {
  background-color: white;
}

.md-button.md-icon-button {
  padding: 0;
}

.nav-profile-pic {
  margin-top:4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.logo:hover {

  text-shadow: 0px 0px 5px rgba(0, 120, 0, 1);
}

.splash-logo {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
  /*margin: 10px -10px auto;*/
}

.auth-form {
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-size: cover;*/
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}

.auth-form, .auth-card::before {
  background: url(../images/banner.jpg) 0 / cover fixed;
}

.auth-card {
    position: relative;
    background: hsla(0,0%,100%,.8) border-box;
    overflow: hidden;
    z-index: 1;
}


/*.footer {*/
  /*height: 50px;*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*bottom: 0;*/
/*}*/

/*.footer *{*/
  /*color: #9E9E9E;*/
/*}*/

/*md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised), md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised)*/
/*attempting to make frosted glass effect
.auth-card::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -30px;
    z-index: 0;
    -webkit-filter: blur(25px);
    filter: blur(25px);
}
*/
