@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body * {
  font-family: 'Open Sans', "Helvetica Neue", sans-serif
}

html, body {
	height: 100%;
}

main {
  min-height: calc(100vh - 50px);
}

footer md-toolbar {
  max-height: 50px;
  /*background-color: #ccc;*/
}

.material-icons {
  /*margin-top: -2px;*/
  line-height: 0.9;
}

md-menu-bar md-menu.md-open > .dropdown-icon-btn {
    background: rgba(158,158,158,0.2)
}

md-toolbar, md-toolbar-tools {
  min-height: 50px;
}

md-card {
  background-color: white;
  position: relative;
  /*overflow: hidden;*/
}

.img-container {
  height: 250px;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  min-width: 100%;
  width: auto;
}

.md-button.md-icon-button {
  padding: 0;
}

.nav-profile-pic {
  margin-top:4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.logo:hover {

  text-shadow: 0px 0px 5px rgba(0, 120, 0, 1);
}

.splash-logo {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
  /*margin: 10px -10px auto;*/
}

.auth-form {
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-size: cover;*/
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}

.auth-form, .auth-card::before {
  background: url(../images/banner.jpg) 0 / cover fixed;
}

.auth-card {
    position: relative;
    background: hsla(0,0%,100%,.8) border-box;
    overflow: hidden;
    z-index: 1;
}

.number {
  background-color: rgba(102, 187, 106, 0.67);
  padding: 10px;
  position: absolute;
  top:0px;
  left: 0px;
  display: block;
  /*border: 1px solid #2E7D32;*/
}

/*md-card md-card-title md-card-title-text {*/
  /*position: relative;*/
  /*display: block;*/
/*}*/

md-card md-card-title md-card-title-text:only-child .md-subhead{
  padding-top: 7px;
}