<div name='orders' class='container'>
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>People Have Requested...</span>
    </h2>
  </md-toolbar>
  <md-content layout-padding ng-cloak>
    <md-list ng-if='!sharedMeals.length'>
      <md-list-item class="md-3-line">
        <img ng-src=''>
        <div class="md-list-item-text">
          <h3>You're not sharing any meals at the moment</h3>
        </div>
      </md-list-item>
    </md-list>
    <md-list ng-if='sharedMeals.length'>
      <md-list-item class="md-3-line" ng-repeat="meal in sharedMeals">
        <img style='height: 50px; margin-right: 10px;' ng-src='{{ meal.imgUrl }}'>
        <div class="md-list-item-text" ng-if='meal.requesters'>
          <h3>{{ meal.title }}</h3>
          <h4>{{ meal.date_available | date : mediumDate }}</h4>
          <p>{{ meal.num_portions }} portion(s) </p>
          <p>Requested by {{ meal.requesters }}</p>
          <md-button class="md-secondary" ng-click="confirmCancelPromise($event, meal)" ng-if='isAvailable(meal)'>Cancel</md-button>
        </div>
        <div class="md-list-item-text" ng-if='!meal.requesters'>
          <h3>{{ meal.title }}</h3>
          <h4>{{ meal.date_available | date : mediumDate }}</h4>
          <p>No one has made any requests yet.</p>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>Upcoming Meals</span>
    </h2>
  </md-toolbar>
  <md-content layout-padding ng-cloak>
    <md-list ng-if='!nextMeals.length'>
      <md-list-item class="md-3-line">
        <img ng-src=''>
        <div class="md-list-item-text">
          <h3>You don't have any requests at the moment.</h3>
        </div>
      </md-list-item>
    </md-list>
    <md-list ng-if='nextMeals.length'>
      <md-list-item class="md-3-line" ng-repeat="meal in nextMeals">
        <img ng-src='{{meal.imgUrl}}'>
        <div class="md-list-item-text">
          <h3>{{ meal.title }}</h3>
          <h4>Shared by {{ meal.creator }}</h4>
          <p>{{ meal.date_available | date : mediumDate }}</p>
          <md-button class="md-secondary" ng-click="confirmCancelRequest($event, meal)" ng-if='isAvailable(meal)'>Cancel</md-button>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
