<div name='orders' class='container'>
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>People Have Requested...</span>
    </h2>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="meal in promised-meals">
        <img ng-src=''>
        <div class="md-list-item-text">
          <h3>[PLACEHOLDER MEAL NAME]</h3>
          <h4>[PLACEHOLDER AVAILABIILTY DATE]</h4>
          <p>[PLACEHOLDER MEAL PORTIONS]</p>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>Upcoming Meals</span>
    </h2>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="meal in upcoming-meals">
        <img ng-src=''>
        <div class="md-list-item-text">
          <h3>[PLACEHOLDER MEAL NAME]</h3>
          <h4>[PLACEHOLDER AVAILABIILTY DATE]</h4>
          <p>[PLACEHOLDER MEAL PORTIONS]</p>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>