<!-- <section id="Experience_area" class="section_padding">
	<div class="col-md-6 col-md-offset-3" ng-model='register' ng-controller='AuthController'>
    <h2>Register an account</h2>
 <form novalidate class="simple-form">
    Username: <input type="text" ng-model="user.username" /><br />
    Password: <input type="text" ng-model="user.password" /><br />
    <input type="submit" ng-click="signup()" value="Register" />
  </form>
  <a href="#/signin" class="btn btn-link">already have an account ? </a>
	</div>
</section> -->

<div class="md-padding auth-form" layout="row" layout-wrap="" layout-align="center center">
  <div ng-model='register' ng-controller='AuthController' flex="40" flex-sm="60" flex-xs='100' layout="column">
    <h1 class='splash-logo'>Lunchbox</h1>
    <md-card class="auth-card">
      <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Join us!</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form name="userForm" layout='column'>
            <md-input-container class="md-block md-accent">
              <label>Username</label>
              <input ng-model="user.username" type='text'>
            </md-input-container>
            <md-input-container class="md-block md-accent">
              <label>Password</label>
              <input ng-model="user.password" type='password'>
            </md-input-container>
          <div layout='row' layout-align='end center'>
            <md-button ng-href='#/signin'>Already have an account?</md-button>
            <md-button type="submit" ng-click="signup()" class="md-raised md-accent">Register</md-button>
          </div>
        </form>
      </md-card-content>
      <!-- <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions> -->
    </md-card>
  </div>
  </div>
</div>