<md-content class="md-padding" layout='row' layout-align="center start" flex>
  <div flex="80" >
    <div name='feedback' class='container'>
  <md-card ng-repeat='meal in pastMeals' ng-if='pastMeals.length' ng-cloak>
    <img ng-src="{{ meal.imgUrl }}" class="md-card-image">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ meal.title }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content ng-if='meal.ratings.length'>
      <h3>Shared on {{ meal.date_available | date : mediumDate }}</h3>
      <p>Freshness: {{ meal.ratings.freshness }} </p>
      <p>Flavor: {{ meal.ratings.flavor }} </p>
      <p>Filling: {{ meal.ratings.filling }} </p>
    </md-card-content>
    <md-card-content ng-if='!meal.ratings.length'>
      <h3>Shared on {{ meal.date_available | date : mediumDate }}</h3>
      <p>Sorry, feedback isn't available yet</p>
    </md-card-content>
  </md-card>
  <md-card ng-if='!pastMeals.length'>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">We don't have any feedback for you at the moment</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p></p>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
        <md-button href="#/create">Create a meal!</md-button>
      </md-card-actions>
  </md-card>
</div>

    </div>
</md-content>