<div layout='row' layout-align="center center">
  <div layout="column" class="md-inline-form inputdemoBasicUsage" flex="80" ng-cloak>
    <div>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
          <label>Search meals by description, ingredients, diet, and more (e.g., 'vegan') </label>
          <input type="text" ng-model="searchInput">
          </md-input-container>
        </div>
      </form>
    </div>

    <div class='md-padding' layout="row" layout-wrap ng-if='browseMeals.length'>
      <md-card style="width: 325px;" ng-repeat="meal in browseMeals | filter:search">
        <img src="http://placehold.it/325x325" class="md-card-image" alt="user avatar">
        <md-card-content>
          <h2>{{ meal.title }}</h2>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click='showMeal($event, meal)'>View</md-button>
        </div>
      </md-card>
    </div>

  </div>
</div>