<md-content class="md-padding" layout='row' layout-align="center start" flex>
  <div layout="column" class="md-inline-form inputdemoBasicUsage" flex="80" ng-cloak>
    <div>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
          <label>Search meals by description, ingredients, diet, and more (e.g., 'vegan') </label>
          <input type="text" ng-model="searchInput">
          </md-input-container>
        </div>
      </form>
    </div>

    <div class='' layout="row" layout-align="center none" layout-wrap  >
      <md-card flex="30" flex-sm="45" flex-xs="100" ng-repeat="meal in browseMeals | filter:search" ng-if='!meal.hide' >
        <div class="number" flex="none">
            <span>{{meal.portions_left}} left</span>
        </div>
        <div class="img-container">
          <img ng-src="{{ meal.imgUrl }}" class="md-card-image" alt="user avatar">
        </div>
        <md-card-title>
          <md-card-title-text layout='row' flex>
            <span class="md-headline" >{{ meal.title }}</span> <span flex></span>
            <span class="md-subhead" > <md-icon>date_range</md-icon> {{ meal.date_available | date : 'MMM d' }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end">
          <md-button class="md-raised md-accent" ng-click="requestMeal(meal)" ng-if="!meal.self">
           Request
          </md-button>
          <md-button ng-click="showMeal($event, meal)">
           More Info
          </md-button>
        </md-card-actions>
      </md-card>
    </div>

  </div>
</md-content>
<!--<div flex="50" flex-sm="100" flex-xs="100" layout="column" class="layout-column flex-xs-100 flex-sm-100 flex-50">-->