<md-dialog>
  <md-card style="width: 450px;">
    <img ng-src="http://placehold.it/450x300" class="md-card-image">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ meal.title }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <h4>Available {{ meal.date_available | date : mediumDate }}</h4>
      <h4>{{ meal.description }}</h4>
      <h5>
        Ingredients: {{ meal.ingredients }} <br />
        Dietary restrictions: {{ meal.tags }}
      </h5>
      <h5>Shared by {{ meal._creator.displayName }}</h5>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end">
      <md-button ng-click="requestMeal()">
       Request
      </md-button>
      <md-button ng-click="close()">
       Cancel
      </md-button>
    </md-card-actions> 
  </md-card>
</md-dialog>