<!-- <md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ meal.title }}</h2>
      <span flex></span>
      <md-button ng-click="close()">
        Close
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    {{ meal.description }}
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="requestMeal()">
     Request
    </md-button>
  </md-dialog-actions> 
</md-dialog> -->

<md-dialog>
  <md-card style="width: 450px;">
    <img ng-src="http://placehold.it/450x300" class="md-card-image">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ meal.title }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <h2>{{ meal.description }}</h2>
    </md-card-content>
  </md-card>
</md-dialog>